.button-up {
  display: inline-block;
  background-color: transparent;
  border: 3px solid rgba(255, 107, 9, 0.5);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;

  @include transition(background-color);

  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &:hover,
  &:focus {
    cursor: pointer;
    border: 3px solid $accent-color;

    &::after {
      opacity: 1;
    }
  }
}

.button-up::after {
  position: absolute;
  left: 12px;
  top: 11px;
  content: '';
  min-width: 21px;
  height: 25px;
  background-image: url('../images/icons-svg/arrow-up.svg');
  opacity: 0.5;
}

.button-up.show {
  opacity: 1;
  visibility: visible;
}
