@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin section-title-desktop($color) {
  font-family: $main-font;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 1.304;
  letter-spacing: 0.03em;
  color: $color;
}

@mixin transition($property) {
  transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
