$main-font: Montserrat, sans-serif;

$primary-text-color: #111518;
$secondary-text-color: #b9b9b9;
$third-text-color: #3d3d3d;
$light-text-color: #fff;
$accent-color: #ff6b09;

$mobile: 480px;
$tablet: 768px;
$desctop: 1344px;

$containet-padding-desctop: 0 15px;
$containet-padding-tablet: 0 40px;
$containet-padding-mobile: 0 20px;
