$main-font: Montserrat, sans-serif;

$primary-text-color: rgba(17, 21, 24, 1);
$secondary-text-color: rgba(185, 185, 185, 1);
$third-text-color: rgba(61, 61, 61, 1);
$light-text-color: rgba(255, 255, 255, 1);
$accent-color: rgba(255, 107, 9, 1);
$primary-dark-trnsparent: rgba(17, 21, 24, 0.8);
$secondary-dark-transparent: rgba(0, 0, 0, 0.25);
$dark-background-color: rgba(17, 21, 24, 1);
$light-background-color: rgba(241, 241, 241, 1);

$mobile: 480px;
$tablet: 768px;
$desktop: 1344px;

$container-padding-desktop: 0 15px;
$container-padding-tablet: 0 40px;
$container-padding-mobile: 0 20px;
