<section class="about" id="about">
    <div class="container">
        <h2 class="section__title about__title">
            Преподаватель
        </h2>
        <div class="about__wrap">
            <img srcset="./images/about.jpg 1x, ./images/about@2x.jpg 2x" src="./images/about.jpg" alt="Елена Морева" class="about__img">
            
            <div class="about__wrap-content">
                <h3 class="about__name-title">
                    Елена Морева
                </h3>
                <ul class="about__list">
                    <li class="about__item">
                        Опыт подготовки учеников к ВНО - 6 лет
                    </li>
                    <li class="about__item">
                        Собственный результат сдачи ВНО - 197 баллов 2 года подряд
                    </li>
                    <li class="about__item">
                        Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)
                    </li>
                </ul>
                <p class="about__text">
                    Высшее образование получила в Институте международных отношений НАУ по специальности
                    переводчик-аналитик.
                </p>
                <p class="about__text">
                    В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию и методикам
                    написания сочинений.
                </p>
                <p class="about__text about__last-text">
                    В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar Style (The
                    University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
                    Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).
                </p>
                <a href="#"  rel="nofollow noreferrer noopener" target="_blank" class="about__text about__link">
                    Cambridge English Entry Level Certificate
                </a>
            </div>
        
        </div>
        
    </div>
</section>