<section>
          <div class="container">
              <h2 class="hidden"></h2>
              <ul class="advantages">
                <li class="advantages__item">
                    <svg class="advantages__icon">
                        <use href="../images/icons-svg/advantages-1.svg"></use>
                    </svg>
                    <p class="advantages__text">Адаптированная авторская программа ВНО</p>
                </li>
                <li class="advantages__item">
                    <svg class="advantages__icon">
                        <use href="../images/icons-svg/advantages-2.svg"></use>
                    </svg>
                    <p class="advantages__text">Современные методики обучения</p>
                </li>
                <li class="advantages__item">
                    <svg class="advantages__icon">
                        <use href="../images/icons-svg/advantages-3.svg"></use>
                    </svg>
                    <p class="advantages__text">Финансовая гарантия результата</p>
                </li>
              </ul>
          </div>
      </section>


