<section class="section__advantages" id="advantages">
    <div class="container">
        <h2 class="hidden"></h2>
        <ul class="advantages">
            <li class="advantages__item">
                <p class="advantages__text advantages__text1">Адаптированная авторская программа ВНО</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__text advantages__text2">Современные методики обучения</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__text advantages__text3">Финансовая гарантия результата</p>
            </li>
        </ul>
    </div>
</section>
          


