<section id="benefits" class="benefits container">
  <div class="benefits__cards">
    <ul class="benefits__list">
      <li><p>Обучение в малых командах</p></li>
      <li>
        <p>Визуализированные конспекты</p>
      </li>
      <li>
        <p>
          Каждое занятие имеет цель <br />
          и конкретный результат
        </p>
      </li>
      <li>
        <p>
          Ревльные результаты <br />
          преподавателя
        </p>
      </li>
      <li>
        <p>
          Прогамма курса <br />
          соответствует требованиям <br />
          МОН Украины
        </p>
      </li>
      <li>
        <p>Набор команд по уровням знаний</p>
      </li>
    </ul>
  </div>
</section>
