<section id="benefits" class="benefits">
  <div class="container">
    <h2 class="benefits__title">Почему нас выбирают</h2>
    <div class="benefits__cards">
      <ul class="benefits__list">
        <li><p>Обучение в малых командах</p></li>
        <li>
          <p>Визуализированные конспекты</p>
        </li>
        <li>
          <p>Каждое занятие имеет цель и конкретный результат</p>
        </li>
        <li>
          <p>Реальные результаты преподавателя</p>
        </li>
        <li>
          <p>Программа курса соответствует требованиям МОН Украины</p>
        </li>
        <li>
          <p>Набор команд по уровням знаний</p>
        </li>
      </ul>
    </div>
  </div>
</section>
