<section class="contacts">
    <div class="container contacts__container ">
        <h2 class="contacts__title">Регистрация на <span class="accent">бесплатную</span> телефонную <span
                class="accent">консультацию</span> по нюансам ЗНО
            по английскому языку</h2>
        <form class="contacts__form">
            <label class="contacts__label" for="name">
                <p>Оставь заявку на участие в <span class="accent">бесплатном занятии.</span></p>
                <p>С вами свяжется консультант и ответит на вопросы</p>
            </label>
            <input class="contacts__input contacts__input--first" type="text" name="name" id="name" placeholder="Имя*"
                required>
            <input class="contacts__input" type="tel" name="tel" placeholder="Телефон*" required>
            <button class="contacts__btn" type="submit">ХОЧУ НА БЕСПЛАТНОЕ ЗАНЯТИЕ</button>
        </form>
    </div>
</section>