<footer class="footer" id="footer">
    <div class="container footer__container">
        <div class="footer__content">
            <a class="footer__logo" href="index.html">
                <p class="logo">Hell<svg class="logo__icon">
                    <use href="images/icons-svg/sprite.svg#icon-fire-logo"></use>
                </svg>EN
                </p>
                <p class="logo--second"><span class="accent">АДСКИЙ</span> АНГЛИЙСКИЙ</p>
            </a>
            <a class="footer__link" href="tel:+380000000000"><svg class="footer__tel">
                    <use href="images/icons-svg/sprite.svg#icon-footer-tel"></use>
                </svg>+38 (000) 000 00 00</a>
            <a class="footer__social" href="https://www.instagram.com/" rel="nofollow noreferrer noopener" target="_blank">
                <div class="footer__icon"></div>
            </a>
        </div>
        <div class="footer__copywriting">
            <p>&#169; Все права защищены, 2019</p>
        </div>
    </div>
</footer>