<header class="site-header">
  <div class="container site-header__container">
    <nav class="menu">
      <!-- Логотип -->
      <div>
        <p class="logo">
          Hell<img class="logo__img" src="/images/svg/fire.svg" width="21.56" height="29.99" />EN
        </p>
        <p class="logo--second"><span class="logo--accent">АДСКИЙ</span> АНГЛИЙСКИЙ</p>
      </div>

      <!-- Стрічка меню -->
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Программы обучения</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">О нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Варианты обучения</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакты</a>
        </li>
      </ul>
      <!-- Кнопка -->
      <button class="consultation__button">Консультация по телефону</button>
    </nav>
  </div>
</header>
