<section id="how-we-do" class="how-we-do">
  <div class="how-we-do__wrap container">
    <h2 class="how-we-do__title">Как мы это делаем</h2>

    <ul class="how-we-do__list">
      <li class="how-we-do__item">
        <div class="how-we-do__thumb">
          <svg class="how-we-do__icon" width="46" height="48">
            <use href="./images/icons-svg/sprite.svg#icon-how-we-do-1"></use>
          </svg>
        </div>
        <h3 class="how-we-do__item-title">
          Адаптированная программа
          <br />
          подготовки к ВНО
        </h3>
        <p class="how-we-do__text">
          Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="how-we-do__thumb">
          <svg class="how-we-do__icon" width="48" height="47">
            <use href="./images/icons-svg/sprite.svg#icon-how-we-do-2"></use>
          </svg>
        </div>
        <h3 class="how-we-do__item-title">
          Аудитория и
          <br />
          онлайн-обучение
        </h3>
        <p class="how-we-do__text">
          Учитель поможет не только в аудитории, но и во время домашней подготовки. Родители могут
          участвовать в чате при желании.
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="how-we-do__thumb">
          <svg class="how-we-do__icon" width="68" height="48">
            <use href="./images/icons-svg/sprite.svg#icon-how-we-do-3"></use>
          </svg>
        </div>
        <h3 class="how-we-do__item-title">
          Привычка читать на
          <br />
          английском языке
        </h3>
        <p class="how-we-do__text">
          Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить
          на телефон дважды в неделю.
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="how-we-do__thumb">
          <svg class="how-we-do__icon" width="48" height="48">
            <use href="./images/icons-svg/sprite.svg#icon-how-we-do-4"></use>
          </svg>
        </div>
        <h3 class="how-we-do__item-title">
          Психологическая
          <br />
          поддержка
        </h3>
        <p class="how-we-do__text">
          Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку
          уверенности в себе.
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="how-we-do__thumb">
          <svg class="how-we-do__icon" width="40" height="48">
            <use href="./images/icons-svg/sprite.svg#icon-how-we-do-5"></use>
          </svg>
        </div>
        <h3 class="how-we-do__item-title">
          Обучение по авторским
          <br />
          пособиям
        </h3>
        <p class="how-we-do__text">
          Тебе не нужно тратить время на самостоятельный поиск материала и ничего покупать
          дополнительно. Мы составили 2 пособия для тебя.
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="how-we-do__thumb">
          <svg class="how-we-do__icon" width="57" height="48">
            <use href="./images/icons-svg/sprite.svg#icon-how-we-do-6"></use>
          </svg>
        </div>
        <h3 class="how-we-do__item-title">
          Умение воспринимать устную
          <br />
          английскую речь
        </h3>
        <p class="how-we-do__text">
          “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать аудиозаписи в
          соответствии с изучаемой лексикой.
        </p>
      </li>
    </ul>
  </div>
</section>
