<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu" type="button">
    <svg class="menu-toggle__icon" width="18.68" height="18.68" color="white">
      <use href="images/icons-svg/sprite.svg#icon-close-menu"></use>
    </svg>
  </button>

  <div>
    <p class="logo-mobile">
      Hell<svg class="logo__icon">
        <use href="images/icons-svg/sprite.svg#icon-fire-logo"></use></svg
      >EN
    </p>
    <p class="logo-mobile--second"><span class="logo--accent">АДСКИЙ</span> АНГЛИЙСКИЙ</p>
  </div>

  <div class="mobile-menu">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#program">Программы обучения</a>
      </li>

      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#about">О нас</a>
      </li>

      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#how-we-do">Варианты обучения</a>
      </li>

      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#contacts">Контакты</a>
      </li>
    </ul>
  </div>


  <!-- Кнопка "Консультация по телефону" в мобільному меню -->
  <button class="consultation__button-mobilemenu" type="button">Консультация по телефону</button>
</div>
