<section id="problems" class="problems">
  <div class="container">
    <h2 class="problems__title">
      Главные проблемы учеников на English ВНО, которые мы
      <span class="problems__title--accent">помогаем</span> решить
    </h2>

    <!-- <svg class="problems__svg" width="445." height="620">
      <use href="/images/icons-svg/problems-fire.svg"></use>
    </svg> -->

    <div class="problems__cards">
      <ul class="problems__list">
        <li><p>Незнание грамматики</p></li>
        <li>
          <p>Неумение воспринимать устную английскую речь</p>
        </li>
        <li>
          <p>Скупой словарный запас для написани сочинения</p>
        </li>
        <li><p>Подготовка в одиночку</p></li>
        <li>
          <p>Отсутствие единого ресурса знаний</p>
        </li>
        <li>
          <p>Недостатой самоорганизации и лень</p>
        </li>
      </ul>
    </div>
  </div>
</section>
