<section id="program" class="program">
  <div class="block-for-tborder"></div>
  <div class="container">
    <h2 class="program__header">Наша программа</h2>
    <ul class="program__list">
      <li class="program__item">
        <div class="block-for-lborder"></div>
        <span class="program__text--first">1 семестр</span>
        <ul class="program__sublist">
          <li class="program__subitem">
            <span class="program__text--second">Grammar</span>
            <ul class="program__sublist2">
              <li class="program__subitem2">
                <span class="program__text--third">Nouns & Articles</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">Adjectives & Adverb</span>
              </li>
            </ul>
          </li>
          <li class="program__subitem">
            <span class="program__text--second"> Vocabulary</span>
            <ul class="program__sublist2">
              <li class="program__subitem2">
                <span class="program__text--third">Family & Relations</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">People & Society</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <span class="program__text--first">2 семестр</span>
        <ul class="program__sublist">
          <li class="program__subitem">
            <span class="program__text--second">Grammar</span>
            <ul class="program__sublist2">
              <li class="program__subitem2"><span class="program__text--third">Pronouns</span></li>
              <li class="program__subitem2">
                <span class="program__text--third">Active Voice</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">Passive Voice</span>
              </li>
            </ul>
          </li>
          <li class="program__subitem">
            <span class="program__text--second"> Vocabulary</span>
            <ul class="program__sublist2">
              <li class="program__subitem2"><span class="program__text--third">Home</span></li>
              <li class="program__subitem2"><span class="program__text--third">School</span></li>
              <li class="program__subitem2"><span class="program__text--third">Work</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <span class="program__text--first">3 семестр</span>
        <ul class="program__sublist">
          <li class="program__subitem">
            <span class="program__text--second">Grammar</span>
            <ul class="program__sublist2">
              <li class="program__subitem2">
                <span class="program__text--third">Modal verbs</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">Infinitive</span>
              </li>
              <li class="program__subitem2"><span class="program__text--third">Gerund</span></li>
              <li class="program__subitem2">
                <span class="program__text--third">Participle: 1, 2</span>
              </li>
            </ul>
          </li>
          <li class="program__subitem">
            <span class="program__text--second"> Vocabulary</span>
            <ul class="program__sublist2">
              <li class="program__subitem2">
                <span class="program__text--third">Travel & Tourism</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">Culture & Free Time</span>
              </li>
              <li class="program__subitem2"><span class="program__text--third">Sport</span></li>
            </ul>
          </li>
          <li class="program__subitem">
            <span class="program__text--second">Writing</span>
            <ul class="program__sublist2">
              <li class="program__subitem2">
                <span class="program__text--third">Informal Letter</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <span class="program__text--first">4 семестр</span>
        <ul class="program__sublist">
          <li class="program__subitem">
            <span class="program__text--second">Grammar</span>
            <ul class="program__sublist2">
              <li class="program__subitem2">
                <span class="program__text--third">Clauses: Conditional and Wishes</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">Direct / Reported speech</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">Preposition</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">Conjunction</span>
              </li>
              <li class="program__subitem2"><span class="program__text--third">Numeral</span></li>
            </ul>
          </li>
          <li class="program__subitem">
            <span class="program__text--second"> Vocabulary</span>
            <ul class="program__sublist2">
              <li class="program__subitem2">
                <span class="program__text--third">Healthy Living</span>
              </li>
              <li class="program__subitem2">
                <span class="program__text--third">Nature & Environment</span>
              </li>
              <li class="program__subitem2"><span class="program__text--third">Money</span></li>
            </ul>
          </li>
          <li class="program__subitem">
            <span class="program__text--second">Writing</span>
            <ul class="program__sublist2">
              <li class="program__subitem2">
                <span class="program__text--third">Formal Letter</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <span class="program__text--first">5 семестр</span>
        <ul class="program__sublist">
          <li class="program__subitem">
            <span class="program__text--second ghost-text">Examin</span>
            <ul class="program__sublist2">
              <li class="program__subitem2"><span class="program__text--third">Revision</span></li>
              <li class="program__subitem2"><span class="program__text--third">Tests</span></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
