<section class="program">
  <h2 class="program__header">Наша программа</h2>
  <ul class="program__list">
    <li class="program__item">
      1 семестр
      <ul class="program__sublist">
        <li class="program__subitem">
          — Grammar
          <ul class="program__sublist2">
            <li class="program__subitem2">Nouns & Articles</li>
            <li class="program__subitem2">Adjectives & Adverb</li>
          </ul>
        </li>
        <li class="program__subitem">
          — Vocabulary
          <ul class="program__sublist2">
            <li class="program__subitem2">Family & Relations</li>
            <li class="program__subitem2">People & Society</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="program__item">
      2 семестр
      <ul class="program__sublist">
        <li class="program__subitem">
          — Grammar
          <ul class="program__sublist2">
            <li class="program__subitem2">Pronouns</li>
            <li class="program__subitem2">Active Voice</li>
            <li class="program__subitem2">Passive Voice</li>
          </ul>
        </li>
        <li class="program__subitem">
          — Vocabulary
          <ul class="program__sublist2">
            <li class="program__subitem2">Home</li>
            <li class="program__subitem2">School</li>
            <li class="program__subitem2">Work</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="program__item">
      3 семестр
      <ul class="program__sublist">
        <li class="program__subitem">
          — Grammar
          <ul class="program__sublist2">
            <li class="program__subitem2">Modal verbs</li>
            <li class="program__subitem2">Infinitive</li>
            <li class="program__subitem2">Gerund</li>
            <li class="program__subitem2">Participle: 1, 2</li>
          </ul>
        </li>
        <li class="program__subitem">
          — Vocabulary
          <ul class="program__sublist2">
            <li class="program__subitem2">Travel & Tourism</li>
            <li class="program__subitem2">Culture & Free Time</li>
            <li class="program__subitem2">Sport</li>
          </ul>
        </li>
        <li class="program__subitem">
          — Writing
          <ul class="program__sublist2">
            <li class="program__subitem2">Informal Letter</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="program__item">
      4 семестр
      <ul class="program__sublist">
        <li class="program__subitem">
          — Grammar
          <ul class="program__sublist2">
            <li class="program__subitem2">Clauses: Conditional and Wishes</li>
            <li class="program__subitem2">Direct / Reported speech</li>
            <li class="program__subitem2">Preposition</li>
            <li class="program__subitem2">Conjunction</li>
            <li class="program__subitem2">Numeral</li>
          </ul>
        </li>
        <li class="program__subitem">
          — Vocabulary
          <ul class="program__sublist2">
            <li class="program__subitem2">Healthy Living</li>
            <li class="program__subitem2">Nature & Environment</li>
            <li class="program__subitem2">Money</li>
          </ul>
        </li>
        <li class="program__subitem">
          — Writing
          <ul class="program__sublist2">
            <li class="program__subitem2">Formal Letter</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="program__item">
      5 семестр
      <ul class="program__sublist">
        <li class="program__subitem">
          —
          <ul class="program__sublist2">
            <li class="program__subitem2">Revision</li>
            <li class="program__subitem2">Tests</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>
