<section class="review">
    <div class="container">
        <h2 class="section__title">Отзывы выпускников</h2>
        <ul class="slider">
            <li class="slider__item">
                <div class="slider__img-box">
                    <img class="slider__img"
                        src="./images/reviews1.jpg"
                        srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x"
                        alt="ФотоУченицы"
                        >
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text-box">
                    <h3 class="slider__title">Тоня Кучеровская</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України
                    </p>
                    <article class="slider__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий
                        запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ... 
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
                <svg class="slider__arrow arrow--left" width="25">
                    <use href="./images/icons-svg/sprite.svg#icon-reviews-arrow-left"></use>
                </svg>                
                <svg class="slider__arrow arrow--right" width="25">
                    <use href="./images/icons-svg/sprite.svg#icon-reviews-arrow-right"></use>
                </svg>                
            </li>
            <!-- <li class="slider-item">          
                <div class="slider__img-box">
                    <img class="slider__img" src="./images/reviews1.jpg" srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text-box">
                    <h3 class="slider__title">Тоня Кучеровская</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України
                    </p>
                    <article class="slider__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий
                        запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                        помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ...
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img-box">
                    <img class="slider__img" src="./images/reviews1.jpg" srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text-box">
                    <h3 class="slider__title">Тоня Кучеровская</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України
                    </p>
                    <article class="slider__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий
                        запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                        помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ...
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img-box">
                    <img class="slider__img" src="./images/reviews1.jpg" srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text-box">
                    <h3 class="slider__title">Тоня Кучеровская</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України
                    </p>
                    <article class="slider__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий
                        запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                        помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ...
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img-box">
                    <img class="slider__img" src="./images/reviews1.jpg" srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text-box">
                    <h3 class="slider__title">Тоня Кучеровская</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України
                    </p>
                    <article class="slider__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий
                        запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                        помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ...
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img-box">
                    <img class="slider__img" src="./images/reviews1.jpg" srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text-box">
                    <h3 class="slider__title">Тоня Кучеровская</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України
                    </p>
                    <article class="slider__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий
                        запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                        помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ...
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img-box">
                    <img class="slider__img" src="./images/reviews1.jpg" srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text-box">
                    <h3 class="slider__title">Тоня Кучеровская</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України
                    </p>
                    <article class="slider__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий
                        запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                        помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ...
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li> -->
        </ul>
        <ul class="slider__pagination">                     
            <li class="slider__pagination-item">
                <img class="slider__pagination-img"
                    src="./images/reviews2.jpg"
                    srcset="./images/reviews2.jpg 1x, ./images/reviews2@2x.jpg 2x" 
                    alt="ФотоУченицы">
            </li>
            
            <li class="slider__pagination-item">
                <img class="slider__pagination-img"
                    src="./images/reviews3.jpg"
                    srcset="./images/reviews3.jpg 1x, ./images/reviews3@2x.jpg 2x" 
                    alt="ФотоУченицы">
            </li>
            
            <li class="slider__pagination-item">
                <img class="slider__pagination-img"
                    src="./images/reviews4.jpg"
                    srcset="./images/reviews4.jpg 1x, ./images/reviews4@2x.jpg 2x" 
                    alt="ФотоУченицы">
            </li>
            
            <li class="slider__pagination-item">
                <img class="slider__pagination-img"
                    src="./images/reviews5.jpg"
                    srcset="./images/reviews5.jpg 1x, ./images/reviews5@2x.jpg 2x" 
                    alt="ФотоУченицы">
            </li>
            <li class="slider__pagination-item">
                <img class="slider__pagination-img"
                    src="./images/reviews6.jpg"
                    srcset="./images/reviews6.jpg 1x, ./images/reviews6@2x.jpg 2x" 
                    alt="ФотоУченицы">
            </li>
            
            <li class="slider__pagination-item">
                <img class="slider__pagination-img"
                    src="./images/reviews7.jpg"
                    srcset="./images/reviews7.jpg 1x, ./images/reviews7@2x.jpg 2x" 
                    alt="ФотоУченицы">
            </li>
            
            <li class="slider__pagination-item">
                <img class="slider__pagination-img"
                    src="./images/reviews8.jpg"
                    srcset="./images/reviews8.jpg 1x, ./images/reviews8@2x.jpg 2x" 
                    alt="ФотоУченицы">
            </li>
        </ul>
    </div>
</section>