<section class="review">
    <div class="container">
        <h2 class="section__title">Отзывы выпускников</h2>
        <ul class="slider">
            <li class="slider__item">
                <div class="slider__img--box">
                    <img class="slider__img" src="./images/reviews1.jpg"
                        srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x" alt="ФотоУченицы">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text--box">
                    <h3 class="slider__title">Тоня Кучеровская</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України
                    </p>
                    <article class="slider__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий
                        запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                        справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                        найменшу помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ...
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>
            <li class="slider-item">
                <div class="slider__img--box">
                    <img class="slider__img" src="./images/reviews1.jpg"
                        srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text--box">
                    <h3 class="slider__title">Антуанна Сенецкая</h3>
                    <p class="slider__sign">
                        Выпуск 2019-го года, Поджитомирское профессиональное техническое училище № 7, кафедра
                        улично-уборочных работ.
                    </p>
                    <article class="slider__description">
                        Училась, училась, ничего не помогло. Пришла к этой прекрасной женщине - замигала надежда. Её
                        манера преподавания выматывала меня и заставляла чувствовать себя неполноценной, но в результате
                        я выучила, что London is a capial of Great Britain! Полученных знаний хватило, чтобы поступить в
                        ПТУ после 9-го класса на грузчика-забулдыгу. Прекрасный преподаватель, всем советую!
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img--box">
                    <img class="slider__img" src="./images/reviews1.jpg"
                        srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text--box">
                    <h3 class="slider__title">Геральдина Стропоцкая</h3>
                    <p class="slider__sign">
                        Выпуск 2000-го года, Общеобразовательная школа №7 г.Заволынск
                    </p>
                    <article class="slider__description">
                        Давно искала себе толкового репетитора по математике и вот, нашла Елену. Ну что сказать: не
                        сказать, что я недовольна, дамочка она нормальная, но логарифмы мы так и не прошли с ней.
                        Несколько разочарована. В каких уравнениях вообще применять Past Perfect???
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img--box">
                    <img class="slider__img" src="./images/reviews1.jpg"
                        srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text--box">
                    <h3 class="slider__title">Лиза Бортик</h3>
                    <p class="slider__sign">
                        Выпуск 1986-го года, Курсы бухгалтеров при экономическом классе Лицея №69, 
                        г. Черночёрный.
                    </p>
                    <article class="slider__description">
                        Шла в магазин за пельмехами, ошиблась дверью и попала в аудиторию к этой барышне. Извинилась за  ошибку и сразу же вышла. Но такое мимолётное знакомство на удивление не прошло даром! Теперь я знаю английский, португальский, тайный язык индейцев майа, эльфийский и начала понимать гопоту из своего района. Елена, от души, душевно в душу! 
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img--box">
                    <img class="slider__img" src="./images/reviews1.jpg"
                        srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text--box">
                    <h3 class="slider__title">Анкара Шузымрамович</h3>
                    <p class="slider__sign">
                        Выпуск 2015-го года, Дальновосходский педагогический колледж имени Араптына Кончерыжского, г.
                        Славномальск.
                    </p>
                    <article class="slider__description">
                        Хотя я и не помышляла о знаниях языка (а уж тем более заграничного!), но агрессивный маркетинг заманил меня на курсы к Елене, и вот - я студент английского класса! Честно говоря, и в школе я была двоешницей, так что на курсах мало что поменялось, знаний я так и не получила. Зато один раз немного задержала платёж Елене и под вечер меня ждали интересные бритоголовые хлопцы у подъезда, которые грамотно пояснили за английский и сколько он стоит. Helen, mamoy clyanus' vse otdam!
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img--box">
                    <img class="slider__img" src="./images/reviews1.jpg"
                        srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text--box">
                    <h3 class="slider__title">Инанна Тельмитринова</h3>
                    <p class="slider__sign">
                        Выпуск 20015-го года, Высшая академия спорных вопросов при Низгбенском ярусе Арафатского
                        Куртерана, г. Садобыще.
                    </p>
                    <article class="slider__description">
                        За свои деньги - топчик. Выучила на отлично, что Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eveniet temporibus fuga ullam harum dignissimos obcaecati reiciendis dolor rem asperiores perferendis tempore odit dolorum maxime qui deserunt ipsam, accusantium eius. Quis magni distinctio omnis eius corporis sapiente officia, perspiciatis perferendis ab illum, animi magnam fuga nesciunt corrupti ipsum adipisci vel.
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>

            <li class="slider-item">
                <div class="slider__img--box">
                    <img class="slider__img" src="./images/reviews1.jpg"
                        srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x">
                    <svg width="30" height="30" class="slider__icon">
                        <use href="./images/icons-svg/sprite.svg#icon-reviews-vk"></use>
                    </svg>
                </div>
                <div class="slider__text--box">
                    <h3 class="slider__title">Каналья Тысячечёртова</h3>
                    <p class="slider__sign">
                        Выпуск 1789-го года, Приходская школа при Версальском дворе, г. Версаль.
                    </p>
                    <article class="slider__description">
                        За довгий час занять з Оленою я опанувала прокрастинацiю i поповнила свiй зовсiм пустий шлунок безкоштовним печивом. З першого ж заняття я зрозумiла, що знаходжуся у пастцi. Ми з Оленою стали сидiти i дивитись один на одного не блимаючи, поки не виходив час занять. Заняття чомусь проходили опiвночi близ кладовища. Пiсля проведення ритуалу темних знань на останньому заняттi я зрозумiла, що знаю англiйську та кунг-фу. 10 iз 10, бiльше, нiж просто вчитель!
                        <a href="#" class="slider__link">Читать дальше</a>
                    </article>
                </div>
            </li>
        </ul>
    </div>
</section>