.benefits {
  position: absolute;
  top: 1443px;
  left: 0;

  @media screen and (min-width: $mobile) {
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: $tablet) {
    top: 1070px;
  }

  @media screen and (min-width: $desktop) {
    top: 1040px;
  }
}

.benefits__title {
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;

  color: $light-background-color;

  @media screen and (max-width: $tablet - 1px) {
    width: 150px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.benefits__cards {
  min-width: 280px;

  @include flex-center;

  background-color: $light-text-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: $tablet) {
    max-width: 688px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1314px;
  }
}

.benefits__list {
  padding: 20px 30px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.08em;

  color: $primary-text-color;

  counter-reset: list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 26px 96px;
  }
  @media screen and (min-width: $desktop) {
    padding: 70px 83px;

    font-size: 20px;
    line-height: 1.4;
  }
}

.benefits__item {
  max-width: 220px;

  @media screen and (max-width: $tablet - 1px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    max-width: 220px;

    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 356px;

    &:nth-child(-n + 3) {
      margin-bottom: 32px;
    }
  }
}

.benefits__item::before {
  display: block;

  content: '— 0 ' counter(list);
  counter-increment: list;

  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.649;

  color: $accent-color;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.64;
  }
}

.benefits__container {
  @media screen and (max-width: $mobile - 1px) {
    min-width: 100vw;
  }
}
