.guarantee__section {
  @media screen and(min-width: $desktop) {
    padding-bottom: 80px;
  }
}

.guarantee__container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $light-background-color;
  @media screen and(min-width: $tablet) {
    padding-left: 79px;
    padding-right: 50px;
  }
  @media screen and(min-width: $desktop) {
    padding: 50px 112px 45px;
  }
}

.guarantee__title {
  margin-bottom: 30px;
  font-family: $main-font;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.307;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  @media screen and(min-width: $desktop) {
    font-size: 60px;
  }
}

.guarantee__item:not(:last-child) {
  margin-bottom: 23px;
  position: relative;
}

.guarantee__text {
  position: relative;
  z-index: 0;
  padding-left: 28px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: $third-text-color;
  @media screen and(min-width: $desktop) {
    padding-left: 41px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.guarantee__text::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-size: cover;
  min-width: 15px;
  height: 20px;
  margin-right: 20px;
  background-image: url(../images/icons-svg/guarantee-fire.svg);
  @media screen and(min-width: $desktop) {
    min-width: 22px;
    height: 30px;
  }
}

.guarantee__label {
  color: $accent-color;
}

.block-border {
  position: absolute;
  min-height: 150px;
  @media screen and (max-width: $desktop - 1px) {
    top: 0px;
    left: 7px;
    height: 205px;
    border-left: 1px dashed $secondary-text-color;
  }

  @media screen and (min-width: $tablet) {
    height: 200px;
  }

  @media screen and (min-width: $desktop) {
    border-left: 1px dashed $secondary-text-color;
    height: 250px;
    top: 0px;
    left: 10px;
  }
}
