/* Header */
.site-header {
  background-color: $light-text-color;
  z-index: 1;
  border-bottom: 1px solid $light-text-color;
}

.site-header__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  min-height: 79px;
  padding-top: 33.5px;
  justify-content: space-between;
}

@media (max-width: 1343px) {
  .site-header__container {
    min-height: 59px;
  }
}

/* Логотип */
.logo {
  position: relative;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  font-style: 800;
  letter-spacing: 0.04em;
  color: #111518;
}

.logo--second {
  font-style: normal;
  font-weight: 800;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: dark-background-color;
}

.logo__icon {
  position: relative;
  top: 4px;
  margin: 0 4px;
  width: 14.95px;
  height: 20.39px;
}

@media screen and (min-width: $tablet) {
  .logo__icon {
    width: 22px;
    height: 30px;
  }
}

.logo--accent {
  color: $accent-color;
}

/* Меню в хедері*/
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  list-style: none;
  font-weight: 800;
  font-size: 14px;
}

.menu__list {
  margin-left: 104px;
  margin-right: 10px;
}

@media (max-width: 1343px) {
  .menu__list {
    display: none;
  }
}

.menu__item:not(:last-child) {
  margin-right: 0px;
}

.menu__link {
  color: $secondary-text-color;
  display: flex;
  text-decoration: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  padding: 27px;
  text-transform: uppercase;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover,
.menu__link:focus {
  color: $accent-color;
}

/* Кнопка "Консультация по телефону" */
.consultation__button {
  @media (max-width: $mobile) {
    display: none;
  }

  /*@media (min-width: $tablet) and (max-width: $desktop - 1px) {
    margin-left: 239px;
  }

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin-left: 30px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $desktop) {
    font-size: 12px;
    line-height: 15px;
  }*/
}

.buttons {
  display: flex;
}

/* Кнопка виклику мобільного меню */
.menu-toggle {
  top: 40px;
  min-height: 40px;
  min-width: 40px;
  display: block;
  align-items: center;
  color: $light-text-color;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: $desktop) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle {
  top: 16px;
  right: 16px;
  color: $light-text-color;
}
