.hero-section {
  width: 100%;
  padding-top: 50px;

  background-color: $light-text-color;
  background: url('/images/hero_Vector.png') no-repeat bottom left;
  background-size: cover;
  box-shadow: -5px 21px 26px rgba(167, 111, 111, 0.04);

  @media screen and (min: device pixel ratio 2px),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/hero_Vector@2x.png');
  }

  @media screen and (max-width: 767px) {
    min-height: 509px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 50px;
  }
}

.hero-container {
  // position: absolute;
  // top: 0;
  // left: 0;
  min-height: 509px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    min-height: 399px;
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    min-height: 650px;
    text-align: left;
  }

  // @media screen and (min-width: 1680px) {
  //   max-width: 1680px;
  // }
}

.hero-title {
  max-width: 280px;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  /* or 27px */
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 642px;
    font-size: 58px;
    margin-top: 125px;
  }
}

.hero-subtitle {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  /* or 157% */
  /* or 22px*/
  letter-spacing: 0.08em;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
  }

  &--grey {
    font-weight: 500;
    color: $secondary-text-color;
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &--accent {
    color: $accent-color;
    font-weight: 700;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero-link {
  max-width: 260px;
  height: 48px;
  padding: 14px 1px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    // display: inline-block;
  }

  @media screen and (min-width: $desktop) {
    display: block;
    margin: 0 auto 145px 0;
    max-width: 354px;
    height: 70px;
    padding: 26px;
  }
}

.hero-image {
  width: 208px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    bottom: 65px;
    right: 18.25px;
    width: 376px;
  }

  @media screen and (min-width: $desktop) {
    top: -50px;
    right: -42px;
    width: 742px;
  }

  @media screen and (min-width: 1680px) {
    top: -70px;
    right: -100px;
    width: 842px;
  }
}
