.hero-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $light-text-color;
  background-image: url('/images/hero_Vector.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: left bottom;

  box-shadow: -5px 21px 26px rgba(167, 111, 111, 0.04);

  @media screen and (min: device pixel ratio 2px),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/hero_Vector@2x.png');
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 96px;
  }
}

.hero-container {
  min-height: 509px;

  @media screen and (min-width: $tablet) {
    position: relative;
    min-height: 399px;
  }

  @media screen and (min-width: $desktop) {
    min-height: 650px;
  }
}

.hero-title {
  max-width: 280px;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  /* or 27px */
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    margin-top: 20px;
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 642px;
    font-size: 58px;
    margin-top: 125px;
  }
}

.hero-subtitle {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  /* or 157% */
  /* or 22px*/
  letter-spacing: 0.08em;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
  }

  &--grey {
    font-weight: 500;
    color: $secondary-text-color;
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &--accent {
    color: $accent-color;
    font-weight: 700;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero-link {
  display: block;
  max-width: 260px;
  height: 48px;
  padding: 14px 1px;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 93px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1343px) {
    display: inline-block;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 auto 145px 0;
    max-width: 354px;
    height: 70px;
    padding: 26px;
  }
}

.hero-image {
  width: 208px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    position: absolute;
    bottom: 65px;
    right: 37px;
    width: 376px;
  }

  @media screen and (min-width: $desktop) {
    top: -50px;
    right: 0;
    width: 742px;
  }
}
