.hero-section {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: $light-text-color;
  background-image: url('/images/hero_Vector.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: left bottom;
  box-shadow: -5px 21px 26px rgba(167, 111, 111, 0.04);

  @media screen and (min: device pixel ratio 2px),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/hero_Vector@2x.png');
  }
  @media screen and (min-width: $tablet) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 96px;
  }
}

.hero-container {
  padding-bottom: 47px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-items: left;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 65px;
    position: relative;
  }

  @media screen and (min-width: $desktop) {
    min-height: 650px;
    padding-top: 75px;
    padding-bottom: 145px;
  }
}

.hero-title {
  max-width: 280px;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  /* or 27px */
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 642px;
    font-size: 58px;
  }
}

.hero-subtitle {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  /* or 157% */
  /* or 22px*/
  letter-spacing: 0.08em;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
  }

  &--grey {
    font-weight: 500;
    color: $secondary-text-color;
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &--accent {
    color: $accent-color;
    font-weight: 700;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero-link {
  min-width: 260px;
  height: 48px;

  @media screen and (max-width: 767px) {
    align-self: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 354px;
    height: 70px;
    padding: 26px;
  }
}

.hero-image {
  @media screen and (max-width: 767px) {
    align-self: center;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    right: 18px;
    bottom: 65px;
  }

  @media screen and (min-width: $desktop) {
    width: 680px;
    top: 85px;
    right: 0;
  }

  @media screen and (min-width: 1680px) {
    width: 843px;
    top: 0;
    right: -96px;
  }
}
