/* Кнопка "Консультация по телефону" в мобільному меню*/
.consultation__button-mobilemenu {
  @media (min-width: 767px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(17, 21, 24, 0.9);
  -webkit-transform: translateX(100%) translateY(-100%);
  transform: translateX(100%) translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    padding-top: 36px;
    padding-left: 40px;
    padding-right: 43px;
    font-size: 26px;
  }

  @media (min-width: 320px) and (max-width: $tablet - 1px) {
    padding-top: 33px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}

.menu-container {
  color: $light-text-color;
}

.mobile-menu {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.mobile-menu__list {
  color: $light-text-color;
  font-style: normal;
  font-weight: 800;
  line-height: 1.175;
  letter-spacing: 0.02em;

  @media (min-width: 320px) and (max-width: $tablet - 1px) {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 40px;
  }

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    padding-top: 72px;
    padding-left: 148px;
    padding-right: 148px;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-687;
}

.mobile-menu__link:hover {
  color: $accent-color;
}

/* Логотип */
.logo-mobile {
  font-weight: 800;
  font-style: 800;
  letter-spacing: 0.04em;
  color: $light-text-color;

  @media (max-width: $tablet) {
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $tablet - 1px) {
    font-size: 26px;
    line-height: 32px;
  }
}

.logo-mobile--second {
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: $light-text-color;

  @media (max-width: $tablet) {
    font-size: 6px;
    line-height: 7px;
  }

  @media (min-width: $tablet - 1px) {
    font-size: 8px;
    line-height: 12px;
  }
}

.logo-mobile__icon {
  position: relative;
  top: 4px;
  margin: 0 4px;
  width: 14.95px;
  height: 20.39px;
}

@media screen and (min-width: $tablet - 1px) {
  .logo-mobile__icon {
    width: 22px;
    height: 30px;
  }
}

.logo-mobile--accent {
  color: $accent-color;
}

/* Кнопка закриття мобільного меню */
.menu-close {
  top: 40px;
  min-height: 40px;
  min-width: 40px;
  display: block;
  align-items: center;
  color: $light-text-color;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-close:hover,
.menu-close:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-close {
  top: 16px;
  right: 16px;
  color: $light-text-color;
}

.logo-button {
  display: flex;
  justify-content: space-between;
}

/*Accordeon form*/
.mobile-menuover {
  @media screen and(max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordeon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ff6b09;
  border-top: none;
  padding: 10px 5px;
  min-height: 192px;
  width: 260px;
  background-color: rgba(48, 36, 26, 0.4);
}

.accordeon__openbutton {
  font-weight: bold;
  color: #ff6b09;
  letter-spacing: 0.08em;
  text-align: center;
  transition: 0.4s;
  font-size: 12px;
  line-height: 15px;
  border: 2px solid #ff6b09;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 260px;
  height: 48px;
  padding-left: 1px;
  padding-right: 1px;
  transition: 0.4s;

  &:focus {
    outline: none;
  }
}

.accordeon__label {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-align: center;
}

.accordeon__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accordeon__form::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(17, 21, 24, 0.8) url('../images/spinner.gif') center / 70px no-repeat;
}

.accordeon__form._sending::after {
  opacity: 1;
  visibility: visible;
}

.accordeon__input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 34px;
  width: 246px;
  padding: 0 5px 0 5px;
  border: 1px solid rgba(207, 126, 72, 1);
  background-color: rgba(204, 173, 137, 0.2);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.8);

  &--first {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media screen and(min-width: $mobile) {
    width: 246px;
  }

  &::placeholder {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    color: rgba(223, 197, 172, 1);
  }
}

.accordeon__input:not(:placeholder-shown):required:valid {
  border: 1px solid rgba(219, 169, 113, 1);
}

.accordeon__input:not(:placeholder-shown):required:invalid {
  border: 1px solid rgba(214, 12, 12, 1);
}

.accordeon__btn {
  @include flex-center;
  width: 220px;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $accent-color;
  margin-top: 10px;

  .accordeon:hover,
  .accordeon:focus {
    outline: none;
    color: #ffffff;
    background-color: $accent-color;
  }
}
