.program {
  position: relative;
  padding-top: 50px;
  padding-bottom: 537px;

  overflow: hidden;

  background-color: $dark-background-color;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 392px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 120px;
    padding-bottom: 363px;
  }

  &__header {
    margin-bottom: 43px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;

    text-align: center;
    letter-spacing: 0.03em;

    color: $light-text-color;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
      line-height: 1.3;
      text-align: start;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 100px;
      font-size: 46px;
      line-height: 1.3;
    }
  }

  &__list {
    position: relative;

    @media screen and (max-width: $tablet - 1px) {
      width: 176px;
      margin-left: 68px;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin-left: 57px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;

      padding-top: 60px;
    }
  }

  &__item {
    position: relative;

    @media screen and (max-width: $tablet - 1px) {
      padding-left: 25px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      padding-left: 55px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $desktop) {
      width: 240px;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &::first-letter {
        font-size: 30px;
        line-height: 0.93;
      }
    }

    &::before {
      position: absolute;
      top: 8px;
      left: -6px;
      content: '';
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: $accent-color;
      z-index: 1;

      @media screen and (min-width: $desktop) {
        top: -66px;
        left: 0px;
      }
    }
  }

  &__text--first {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: $light-text-color;

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &__sublist {
    margin-top: 5px;
    padding-left: 15px;

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      display: flex;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 25px;
    }
  }

  &__subitem {
    @media screen and (max-width: $tablet - 1px) {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      &:first-child {
        width: 176px;
        margin-right: 50px;
      }

      &:nth-child(2) {
        width: 155px;
        margin-right: 50px;
      }
    }

    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__text--second {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.649;

    letter-spacing: 0.08em;

    color: $accent-color;

    @media screen and (min-width: $desktop) {
      padding-left: 10px;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    &::before {
      position: absolute;
      top: 8px;
      left: -15px;
      content: '';
      display: block;
      height: 1px;
      width: 10px;
      background: $accent-color;

      @media screen and (min-width: $desktop) {
        top: 12px;
        width: 15px;
      }
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
    }
  }

  &__sublist2 {
    margin-top: 5px;
    margin-left: -15px;

    @media screen and (min-width: $desktop) {
      margin-top: 10px;
    }
  }

  &__text--third {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    letter-spacing: 0.08em;

    color: $secondary-text-color;

    opacity: 0.5;

    @media screen and (min-width: $desktop) {
      font-size: 18px;
      line-height: 1.56;
    }
  }
}

.ghost-text {
  color: transparent;
}

.block-for-lborder {
  position: absolute;

  @media screen and (max-width: $desktop - 1px) {
    top: 20px;
    left: 0px;
    width: 20px;
    height: 1180px;

    border-left: 1px solid #fff;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    height: 646px;
  }
}

.block-for-tborder {
  position: absolute;

  @media screen and (min-width: $desktop) {
    width: 100%;
    height: 20px;
    border-top: 1px solid white;
    top: 278px;
    left: 0;
  }
}

.program__list::after {
  position: absolute;
  display: block;
  content: '';

  @media screen and (max-width: $tablet - 1px) {
    top: 1239px;
    left: 122px;
    width: 176px;
    height: 137px;
    background-image: url('../images/program_mobile.png');
    background-size: 176px 137px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .program__list::after {
      background-image: url('../images/program_mobile@2x.png');
    }
  }

  @media screen and (min-width: $tablet) {
    top: 623px;
    left: 287px;
    width: 384px;
    height: 280px;
    background-image: url('../images/program_tablet.png');
    background-size: 384px 280px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .program__list::after {
      background-image: url('../images/program_tablet@2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    top: 398px;
    left: -164px;
    width: 676px;
    height: 510px;
    background-image: url('../images/program_desk.png');
    background-size: 676px 510px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .program__list::after {
      background-image: url('../images/program_desk@2x.png');
    }
  }
}
