.problems {
  padding-top: 50px;
  background-image: linear-gradient($primary-text-color 76.4%, $light-text-color 76.4%);

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 100px;

    background-image: url('../images/svg/fire.svg'),
      linear-gradient($primary-text-color 76.4%, $light-text-color 76.4%);
    background-size: 455px 472px, cover;
    background-repeat: no-repeat;
    background-position: top 52px right -30px, center;
  }
}

.container {
  // position: relative;
}

.problems__title {
  //   min-width: 200px;
  width: 225px;
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.35;
  // padding: $container-padding-mobile;
  // padding: 50px 0px 27px;
  color: $light-text-color;
  letter-spacing: 0.03em;
}
@media screen and (min-width: $tablet) {
  .problems__title {
    width: 450px;

    margin-bottom: 25px;

    font-size: 26px;
    line-height: 1.3;
  }
}

@media screen and (min-width: $desktop) {
  .problems__title {
    width: 850px;
    font-size: 46px;
    margin-bottom: 70px;
    // padding: 100px 0 70px;
  }
}
.problems__title--accent {
  color: $accent-color;
}

// .problems__svg {
//   position: absolute;
// }
// @media screen and (min-width: $desktop) {
//   .problems__svg {
//     transform: translateY(9999px);
//   }
// }

.problems__cards {
  @include flex-center;

  background-color: $light-text-color;
  // max-width: 280px;
  // margin-left: auto;
  // margin-right: auto;

  width: 100%;
}

@media screen and (min-width: $tablet) {
  .problems__cards {
    // max-width: 688px;
  }
}
@media screen and (min-width: $desktop) {
  .problems__cards {
    // max-width: 1314px;
  }
}
.problems__list {
  list-style: none;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: $primary-text-color;
  padding: 20px 30px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  counter-reset: list;
}
@media screen and (min-width: $tablet) {
  .problems__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 96px 26px;
    justify-content: space-between;
  }
}
@media screen and (min-width: $desktop) {
  .problems__list {
    display: flex;
    flex-wrap: wrap;
    padding: 38px 114px 62px;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.4;
  }
}
.problems__list li {
  padding-bottom: 10px;
  max-width: 220px;
}
@media screen and (min-width: $tablet) {
  .problems__list li {
    flex-basis: calc((100% -84px) / 2);
    max-width: 220px;
    padding-bottom: 0px;
    padding-top: 32px;
  }
}
@media screen and (min-width: $desktop) {
  .problems__list li {
    flex-basis: calc((100% -10px) / 3);
    max-width: 316px;
  }
}
.problems__list li::before {
  content: '— 0 ' counter(list);
  counter-increment: list;
  color: $accent-color;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.219;
}
@media screen and (min-width: $desktop) {
  .problems__list li::before {
    font-size: 20px;
    line-height: 1.64;
  }
}
