.review {
  padding: 50px 0;
}

.section__title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  @media (min-width: $desktop) {
    @include section-title-desktop($primary-text-color);
  }
}

.slider {
  margin-top: 20px;
  @media (min-width: $desktop) {
    @include flex-center;
    margin-top: 50px;
  }
}

.slider__item {
  padding: 20px 20px 0 20px;
  @media (min-width: $desktop) {
    display: flex;

    width: 1090px;
    padding: 50px 0;

    margin: 0 auto;
  }
}

.slider__img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $desktop) {
    margin-right: 40px;
  }
}

.slider__img {
  width: 90px;
  height: 90px;

  margin: 0 auto 20px auto;

  background-color: tomato;
  @media (min-width: $desktop) {
    width: 150px;
    height: 150px;
  }
}

.slider__icon {
  width: 30px;
  height: 30px;

  margin: 0 auto;

  background-color: tomato;
  @media (min-width: $desktop) {
  }
}

.slider__text-box {
  margin-top: 20px;
}

.slider__title {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  letter-spacing: 0.08em;
  color: $accent-color;

  @media (min-width: $desktop) {
    font-family: $main-font;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.233;
    letter-spacing: 0.08em;
  }
}

.slider__sign {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: $secondary-text-color;
  @media (min-width: $desktop) {
    margin-bottom: 20px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.08em;
  }
}

.slider__description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-align: center;
  color: $third-text-color;

  @media (min-width: $desktop) {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.556;
  }
}

.slider__link {
  color: $accent-color;
  text-decoration: underline;
}

.slider__pagination {
  @include flex-center;

  width: 182px;

  margin: 20px auto 0 auto;

  @media (min-width: $desktop) {
    width: 558px;

    margin: 40px auto 0 auto;
  }
}

// .slider__pagination-item {
//   &:nth-child(2),
//   &:nth-child(3),
//   &:nth-child(4) {
//     width: 54px;
//     height: 54px;
//     background-color: tomato;
//   }

//   &:first-child,
//   &:last-child {
//     width: 25px;
//     height: 2px;
//     background-color: tomato;
//   }

//   &:not(:last-child) {
//     margin-right: 10px;
//   }
// }
