.review {
  @include flex-center;
  padding: 50px 0;
}

.section__title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  @media (min-width: $tablet) {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.308;
    letter-spacing: 0.03em;
  }

  @media (min-width: $desktop) {
    @include section-title-desktop($primary-text-color);
  }
}

.slider {
  @include flex-center;
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 50px;
  }
}

.slider__item {
  padding: 20px 20px 30px 20px;

  @media (min-width: $tablet) {
    @include flex-center;
    width: 688px;
    padding: 40px;
  }

  @media (min-width: $desktop) {
    width: 1090px;
    padding: 50px 0;

    margin: 0 auto;
  }
}

.slider__img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet) {
    margin-right: 46px;
  }

  @media (min-width: $desktop) {
    margin-right: 40px;
  }
}

.slider__img {
  width: 90px;
  height: 90px;

  margin: 0 auto 20px auto;

  background-color: tomato;
  @media (min-width: $desktop) {
    width: 150px;
    height: 150px;
  }
}

.slider__icon {
  margin: 0 auto;
  fill: #436eab;
  @include transition(fill);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.slider__text-box {
  margin-top: 20px;
}

.slider__title {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  letter-spacing: 0.08em;
  color: $accent-color;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  @media (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.233;
  }
}

.slider__sign {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: $secondary-text-color;

  @media (min-width: $tablet) {
    width: 412px;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
  }

  @media (min-width: $desktop) {
    width: 438px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.214;
  }
}

.slider__description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-align: center;
  color: $third-text-color;

  @media (min-width: $tablet) {
    width: 412px;
    font-size: 12px;
    line-height: 1.667;
    text-align: left;
  }

  @media (min-width: $desktop) {
    width: 706px;
    font-size: 18px;
    line-height: 1.556;
  }
}

.slider__link {
  color: $accent-color;
  text-decoration: underline;
}

.slider__pagination {
  // display: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 182px;
  margin: 20px auto 0 auto;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 558px;
  }
}

.slider__pagination-item {
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

// .slider__pagination {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   width: 182px;

//   margin: 20px auto 0 auto;

//   @media (min-width: $desktop) {
//     width: 558px;

//     margin: 40px auto 0 auto;
//   }
// }

// .slider__pagination-item {
//   &:nth-child(5),
//   &:nth-child(6),
//   &:nth-child(7),
//   &:nth-child(8) {
//     display: none;
//   }
// }

// .slider__pagination-icon {
//   width: 50px;
//   height: 50px;
//   background-color: tomato;
// }
